

section.mounting
    h3.mounting__title-section.title-section Процесс выполнения монтажа
    section.mounting__card 
        .card__item 
            span.item__number 1
            span.item__text Рассчёт предварительной заявки
        .card__item 
            span.item__number 2
            span.item__text Замер объекта нашим инженером
        .card__item 
            span.item__number 3
            span.item__text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
        .card__item 
            span.item__number 4
            span.item__text Изготовление Дымохода, покраска (если требуется)
        .card__item 
            span.item__number 5
            span.item__text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
        .card__item 
            span.item__number 6
            span.item__text Гарантийное обслуживание по соответствующем сроку