.mounting{
    margin-top: 7.4rem;
    &__card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: .625rem;
        margin-top: 3.5rem;
        .card__item{
            display: flex;
            align-items: center;

            .item__number{
                font-family: "mBold";
                font-size: 4.375rem;
                color: $ligthRed;
                opacity: .2;
                width: 2rem;
            }
            .item__text{
                font-family: "mRegular";
                margin-left: 2.25rem;
                line-height: 1.875rem;
            }
        }
    }
}

.title-section{
    position: relative;
    font-size: 2.5rem;
    font-family: "mSemiBold";
    &::before{
        content: "";
        position: absolute;
        width: 4.625rem;
        height: 0.3125rem;
        background-color: $ligthRed;
        top: -1.1rem;
        left: 0;
    }
}