extends ../layouts/default

block variables

block content
  section.container
    include ../../components/mainBlock/mainBlock
    include ../../components/mounting/mounting
    include ../../components/why/why
    include ../../components/callback/callback
    include ../../components/video/video
    include ../../components/photo/photo
