
section.main-block

    h1.main-block__title.title Монтаж дымоходов

    section.main-block__breadcrumb.breadcrumb
        span.breadcrumb__item Главная
        span.breadcrumb__arrow
            +svg("right-arrow", "arrow__svg")
        span.breadcrumb__item.active Монтаж дымоходов
    
    section.main-block__description.description
        span.description__item В <span class="item__brand">Дымоход.ру</span> вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    
    section.main-block__label.label
        .label__text 
            h2.text__title Lorem ipsum dolor sit amet 
            h2.text__title-accent LOREM IPSUM
            ul.text__label-decription.label-decription
                li.label-decription__item Доступные цены
                li.label-decription__item Собственное производсвто Дымоходов
                li.label-decription__item Выполнение необходимых работ, связанных с установкой камина, печи, котла
                li.label-decription__item Гарантия (от трёх до десяти лет)
                li.label-decription__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
                li.label-decription__item Только русские квалифицированные специалисты
                li.label-decription__item Устанавливаем любые дымоходы всех производителей.
        .label__img 
            img(src="./assets/images/chimney.png" class="img__png")
            +svg("back-title-img", "img__svg")
    