.callback{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 3.03rem;
        font-family: "mExtraBold";
        margin: 0;
    }
    &__desc{
        font-family: "mLigth";
        font-size: 1.375rem;
    }
    &__social-form{
        margin-top: 2.7rem;
        .social-form__item {
            text-decoration: none;
            margin: 0 1.125rem;
            .item__svg{
                width: 1.4375rem;
                height: 1.4375rem;
            }
        }
    }
    &__form{
        box-shadow: 0 .25rem 3.125rem rgba(0, 0, 0, 0.15);
        padding: 3.75rem;
        margin-top: 2.5rem;

        .form{
            &__title{
                font-size: 1.25rem;
                font-family: "mMedium";
                .title__accent{
                    font-family: 'mBold';
                    color: $orange;
                }
            }

            &__desc {
                font-family: "mRegular";
                padding: .75rem 0 1.375rem 0;
            }

            &__action input{
                padding: 1.15rem;
                border: .06rem solid $gray;
                border-radius: .25rem;
                width: 12rem;
                font-family: "mMedium";
                font-size: .875rem;
                margin-right: 1rem;
            }
            &__action .btn{
                position: relative;
                width: 15rem;
                height: 3.5rem;
                border: none;
                background-color: $darkBlue;
                font-family: "mBold";
                border-radius: .25rem;
                color: white;
                cursor: pointer;
                transition: background-color .2s linear;
                &:hover{
                    background-color: $veryDarkBlue;
                }
                .name-btn{
                    font-size: 1rem;
                }
                .btn__name{
                    max-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__action .notification {
                position: fixed;
                bottom: 0;
                right: 0;
                font-family: "mBold";
                font-size: 2rem;
                margin: 1rem;
                padding: 2rem;
                background-color: white;
                z-index: 1;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
            }
            &__action .disabled {
                display: none;
            }
            &__action .disabledBtn{
                background-color: $veryDarkBlue;
            }
            &__action .disabledLoading{
                display: none;
            }
        }
    }
}
  
.loading {
position: absolute;
top: 22%;
left: 2rem;
width: 2rem;
height: 2rem;
-webkit-animation-name: spin;
-webkit-animation-duration: 2000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: spin;
-moz-animation-duration: 2000ms;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-ms-animation-name: spin;
-ms-animation-duration: 2000ms;
-ms-animation-iteration-count: infinite;
-ms-animation-timing-function: linear;
animation-name: spin;
animation-duration: 2000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@-ms-keyframes spin {
from {
    -ms-transform: rotate(0deg);
}
to {
    -ms-transform: rotate(360deg);
}
}

@-moz-keyframes spin {
from {
    -moz-transform: rotate(0deg);
}
to {
    -moz-transform: rotate(360deg);
}
}

@-webkit-keyframes spin {
from {
    -webkit-transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
}
}

@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (max-width: 768px){
    .callback__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45rem;
        width: 100%;
        .form__action{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                margin: 0;
                width: 140%;
                margin-bottom: 1rem;
            }
            .btn{
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 320px){
    .callback__form{
        width: auto;
    }
    .callback__title{
        font-size: 1.375rem;
        text-align: center;
    }
    .callback__desc{
        font-size: .875rem;
        text-align: center;
    }
    .form__title{
        text-align: center;
    }
    .form__desc{
        text-align: center;
    }
}