.photo__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    img{
        width: 17.625rem;
        height: 16.25rem;
    }
    .form_img{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            border-left: .25rem solid $blue;
            border-bottom: .25rem solid $blue;
            width: 3.125rem;
            height: 3.125rem;
            bottom: 1.1rem;
            left: .6rem;
        }
        &::after{
            content: '';
            position: absolute;
            border-right: .25rem solid $blue;
            border-top: .25rem solid $blue;
            width: 3.125rem;
            height: 3.125rem;
            top: .3rem;
            right: .6rem;
        }
    }
}

@media (max-width: 768px){
    .photo__form{
        justify-content: flex-start;
    }
}
@media (max-width: 320px){
    .photo__form{
        justify-content: center;
    }
}