@font-face {
    font-family: 'mBold';
    src: url(../fonts/MONTSERRAT-BOLD.ttf);
}
@font-face {
    font-family: "mRegular";
    src: url(../fonts/MONTSERRAT-REGULAR.ttf);
}
@font-face {
    font-family: "mSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "mExtraBold";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: "mLigth";
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "mMedium";
    src: url(../fonts/Montserrat-Medium.ttf);
}