@font-face {
    font-family: 'mBold';
    src: url(../fonts/MONTSERRAT-BOLD.ttf);
}
@font-face {
    font-family: "mRegular";
    src: url(../fonts/MONTSERRAT-REGULAR.ttf);
}
@font-face {
    font-family: "mSemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "mExtraBold";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}