html {
    font-size: 1.5vh;
}

.container{
    width: 100%;
    max-width: 76.125rem;
    margin: 0 auto;
}

body{
    margin: 0;
    // overflow-x: hidden;
}

@media (max-width: 768px){
    html{
        font-size: 2vh;
    }
}